body {
  background: #0f141c;
}

/* ---------------------------------- Chat ---------------------------------- */

#chat {
  height: calc(100vh - 65.7px);
  overflow-y: scroll;
  display: flex;
}
#chat::-webkit-scrollbar {
  width: 0;
}
#chat #messagesContainer {
  padding: 13px 13px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#chat #messagesContainer .messageContainer {
  margin-top: 5px;
}


#chat #messagesContainer .messageContainer .infoMessageContainer {
    display: flex;
    align-items: flex-end;
    padding: 0 0 6px 9px;
    gap: 10px;
}
#chat #messagesContainer .messageContainer .authorPseudo {
  color: #bdbec8;
  font-size: 0.95rem;
}
#chat #messagesContainer .messageContainer .date {
  color: #96979e;
  font-size: 0.75rem;
}


#chat #messagesContainer .messageContainer .messageContent {
  padding: 8px 10px;
  background: #282a38;
  border-radius: 7px;
  color: #d9dbe7;
  font-size: 0.95rem;
}
#chat #messagesContainer .messageContainer .messageContent p {
  max-width: calc(100vw - 46px);
  word-wrap: break-word;
  margin-bottom: 2px;
}
#chat #messagesContainer .mineMessage .messageContent {
  color: #e3e5f1;
  background: #8d93b1;
}

/* ------------------------------ Message Form ------------------------------ */

#messageForm {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 7px;
  background: #242737;
  width: calc(100% - 46px);
  padding: 10px 13px;
}
#messageForm textarea {
  border: none;
  outline: none;
  padding: 0;
  width: calc(100% - 55px);
  height: 25px;
  font-size: 1rem;
  background: #242737;
  color: #aeb2c6;
  resize: none;
}
#messageForm textarea::placeholder {
  color: #737582;
}
#messageForm textarea::-webkit-scrollbar {
  width: 0;
}
#messageForm button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  outline: none;
  width: 55px;
  height: calc(100% - 10px);
  border-radius: 8px;
  background: #858aa5;
  transition: 0.2s;
  cursor: pointer;
}
#messageForm button:active {
  background: #a2a8ca;
}